{{ "<!-- Header -->" | safeHTML }}
<header id="header">
    <a href="{{ .Site.BaseURL }}" class="image avatar"><img src="{{ .Site.BaseURL }}images/{{ .Site.Params.sidebar.avatar }}" alt="" /></a>
    {{ with .Site.Params.sidebar.bio }}
        <h1>{{ . | markdownify }}</h1>
    {{ end }}

    <ul class="icons">
        {{ with .Site.Params.sidebar.github }}
        <li>
            <a
                href="//github.com/{{ . }}"
                target="_blank"
                class="icon fa-github">
                <span class="label">Github</span>
            </a>
        </li>
        {{ end }}
        {{ with .Site.Params.sidebar.stackoverflow }}
        <li>
            <a
                href="http://stackoverflow.com/users/{{ . }}"
                target="_blank"
                class="icon fa-stack-overflow">
                <span class="label">StackOverflow</span>
            </a>
        </li>
        {{ end }}
        {{ with .Site.Params.sidebar.linkedin }}
        <li>
            <a
                href="https://www.linkedin.com/in/{{ . }}"
                target="_blank"
                class="icon fa-linkedin-square">
                <span class="label">Linkedin</span>
            </a>
        </li>
        {{ end }}
        {{ with .Site.Params.sidebar.twitter }}
        <li>
            <a
                href="//twitter.com/{{ . }}"
                target="_blank"
                class="icon fa-twitter">
                <span class="label">Twitter</span>
            </a>
        </li>
        {{ end }}
        {{ with .Site.Params.contact.email }}
        <li>
            <a
                href="{{ $.Site.BaseURL }}#contact-form"
                class="icon fa-envelope-o">
                <span class="label">Email</span>
            </a>
        </li>
        {{ end }}
    </ul>

    {{ with .Site.Menus.main }}
        <nav id="sidebar">
            <ul>
            {{ range . }}
                <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
            {{ end }}
            </ul>
        </nav>
    {{ end }}
</header>
