{{ "<!-- portfolio -->" | safeHTML }}
<section>
    {{ with .Site.Params.portfolio.title }}<h2>{{ . | markdownify }}</h2>{{ end }}
    <div class="row" id="portfolio">
        {{ range $index, $element := .Site.Params.portfolio.gallery }}
        <article class="6u 12u$(xsmall) portfolio-item">
            <a
                href="{{ $.Site.BaseURL }}portfolio/{{ .full }}"
                class="image fit thumb"
                data-sub-html="#caption_{{ $index }}">
                    <img
                        src="{{ $.Site.BaseURL }}portfolio/{{ .thumb }}"
                        alt="{{ .title | plainify }}" />
            </a>
            <div id="caption_{{ $index }}" class="caption">
                <h3>{{ .title | markdownify }}</h3>
                <p class="description">
                    {{ .description | markdownify }}
                </p>
                <p class="link">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="{{ .link }}">{{ .link }}</a>
                </p>
            </div>
        </article>
        {{ end }}
    </div>
</section>
